body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}
h1,
h2,
h3,
h4 {
  color: #2e2f42;
  margin: 0;
}

p {
  font-size: 16px;
  color: #434455;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/*button {
  cursor: pointer;
}*/
img {
  display: block;
}

.conteiner-body {
  max-width: 1440px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
/*header*/

.navigation {
  border-bottom: 1px solid #e7e9fc;
}
.conteiner-header {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation-logo {
  display: flex;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}
.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-menu {
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.navigation-menu:hover {
  color: #404bbf;
}
.navigation-menu:focus {
  color: #404bbf;
}
.adress-menu {
  font-style: normal;
  letter-spacing: 0.02em;
}
.adress-list {
  display: flex;
  gap: 40px;
}

.social:hover,
.social:focus {
  color: #404bbf;
}

.social {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.header-logo-span {
  color: #2e2f42;
}

/*section1 hero*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  cursor: pointer;
  height: 56px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.information-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding: 120px 156px;
}
/*section2 information*/
.section-information {
  padding: 120px 0;
}

.title-information {
  visibility: hidden;
}
.information-list {
  display: flex;
  gap: 24px;
}
.subtitle-information {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.information-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: calc ((100% - 3 * 24px) / 4);
}

/*section3 our team*/
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-team {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 120px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  padding: 32px 0;
}
.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #ffffff;
}
.team-profesion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

/* section4 our portfolio*/
.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-portfolio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.image-portfolio-list {
  width: calc((100% - 48px) / 3);
}
.portfolio-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-name-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer*/
.conteiner-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.header-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding-bottom: 100px;
  padding-top: 16px;
  max-width: 264px;
}
